@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.ctr {
   margin-top: 10vh;
}

#stats {
   flex-direction: row;
   justify-content: space-between;
}

#progress span, #points {
   font-size: 1.5rem;
   margin-right: 1.5rem;
   background-color: #fff;
}

#points span {
   color: #00f;
}

#progress-bar {
   width: 15rem;
   height: 13px;
   border: 2px solid;
   padding: 1px;
   box-sizing: border-box;
}

#bar {
   width: 10%;
   height: 100%;
   background-color: #00f;
}

#question, .choice {
   display: flex;
   background-color: #fff;
   text-align: left;
}

#question {
   border: 2px solid;
   border-radius: 8px;
   padding: 1.3rem 1.6rem;
   font-weight: 500;
   font-size: 1.3rem;
   position: relative;
}

#stats, #question, #choices {
   display: none;
}

#question span {
   min-width: 2.6rem;
   /* outline: 1px solid red; */
}

#question p {
   margin-left: .8rem;
}

#question::before, #question::after {
   position: absolute;
   font-family: "Ephesis";
   font-weight: bold;
   font-size: 4rem;
   width: 1.5rem;
   height: 1.5rem;
   color: #00f;
}

#question::before {
   top: -1.2rem;
   left: 4px;
   content: '\201c';
}

#question::after {
   bottom: 1.2rem;
   right: 8px;
   content: '\201d';
}

#choices {
   padding: 0 2rem;
}

.choice {
   border: 2px solid;
   border-radius: 8px;
   padding: 8px 1.5rem;
   cursor: pointer;
   transition: .3s;
}

.choice + .choice {
   margin-top: 1rem;
}

.choice span {
   border: 3px solid;
   border-radius: 50%;
   width: 1.7rem;
   height: 1.6rem;
   text-align: center;
   font-size: 1.2rem;
   font-weight: 500;
   padding-top: 2px;
   transition: .5s;
}

.choice p {
   font-size: 1.2rem;
   margin: 4px 0 0 1.5rem;
}

.choice span, .choice p {
   pointer-events: none;
}

.choice:hover {
   cursor: pointer;
   transform: scale(1.01);
}

.true {
   color: rgb(0, 209, 0);
}

.false {
   color: red;
}